{% extends 'default.html.twig' %}
{% block body %}
    <h1>Creer ton propre Quizz</h1>
    <h2>1ère Etape:</h2>
    <h3>Créer une categorie ou en selectionner une existante</h3>

    {{ form_start(formCexistante) }}
    {{ form_widget(formCexistante) }}
    {{ form_end(formCexistante) }}



    {{ form_start(formC) }}
    {{ form_widget(formC) }}
    {{ form_end(formC) }}

    {{ form_start(formQ) }}
    {{ form_widget(formQ) }}
    {{ form_end(formQ) }}

    {{ form_start(formR) }}
    {{ form_widget(formR) }}
    {{ form_end(formR) }}
{% endblock %}